.darkenBackground {
	height: 100%;
	width: 100%;
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: rgb(0, 0, 0, 0.5);
	background-repeat:repeat;
}
body {
	background-color:#3a7a4b;
	background-image: url("../figuras/fondo.jpg" );
	background-repeat: no-repeat, repeat;
	background-size: cover;
}
h3 {color:#1a4c6b;}
h4 {color:#263533;}
p {color:#442a2d; font-size:12pt; font-family:"Verdana", sans-serif}

table.center {
	margin-left:auto;
	margin-right:auto;
}
mark {
    color: white;
    background-color:rgba(0, 0 ,0, 0.56)
}
